#container {
  height: 100px;
  width: 1000px;
  background-color: pink;
  margin: 20px auto;
}

.song {
  float: left;
  height: 78px;
  width: 78px;
  margin: 5px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background-color: blue;
}
