@font-face {
    font-family: Aller;
    src: url(AllerDisplay.ttf);
}

html, body{ padding: 0;margin: 0; height: 100%; overflow: hidden}

*:before *:after {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(127deg, #eeeeee, #efdef2 14%, #64c9f5);
  font-family: 'Montserrat', sans-serif;
}

.blocked {
  pointer-events: none;
}

/* OPTIONS */
#options-container {
  height: 80px;
  width: 1000px;
  border-radius: 10px;
  margin: auto;
}

.option {
  float: left;
  height: 50px;
  width: 250px;
  margin: 30px 35px;
  color: white;
  font-size: 30px;
  position: relative;
}

.option > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: Aller;
  padding: 5px;
  text-align: center;
  text-shadow: 1px 1px 2px black
}


/* SONGS */

#container {
  height: 100px;
  width: 1000px;
  border-radius: 10px;
  margin: 20px auto;
}

.song {
  float: left;
  height: 80px;
  width: 80px;
  margin: 5px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background: url(images/question.png) no-repeat;
  background-size: 50px;
  background-position: center;
}


/* ANSWERS */

.answers-button-container {
  height: 150px;
  width: 800px;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

#answers-container {
  height: 150px;
  width: 600px;
  border-radius: 10px;
  margin: auto;
  position: absolute;
}

.answer {
  display: inline-block;
  width: 250px;
	height: 70px;
  margin: 5px 20px;
  border-radius: 8px;
  background-image: radial-gradient(circle at 4% 4%, #cfdff9, #8fbff8);
	box-shadow: 0 2px 16px 0 rgba(255, 255, 255, 0.5);
  position: relative;
}

.answer > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  padding: 5px;
}


/* READY BUTTON */
.play-ready-container {
  height: 150px;
  width: 200px;
  float: right;
}

.play-button {
  background: url(images/play.png) no-repeat;
  background-position: center;
  height: 130px;
  width: 200px;
  position: absolute;
  margin-top: 10px;
}

.ready {
  height: 50px;
  width: 200px;
  margin: 130px auto;
  position: absolute;
}

.ready > p {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  font-weight: 700;
  color: #4A90E2;
}


/* SCORE DASHBOARD */

.dashboard {
  margin: 50px auto;
  height: 150px;
  width: 1000px;
  position: relative;
}

#timer {
  width: 140px;
  margin: 20px 20px;
  font-size: 30px;
}

.timer-score {
  width: 180px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  float: right;
  margin: 10px 170px auto 0px;
  color: #2a5b93;
}

.score {
  margin: 20px 20px;
  text-align: center;
  font-weight: 700;
  color: #2a5b93;
}

#instructions {
  /*border: 1px solid black;*/
  float: left;
  width: 550px;
  height: 150px;
  margin: 0px 0px 0px 70px;
  position: absolute;
  float: left;
}

#instructions > p {
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  padding: 5px;
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}



/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  /*box-shadow: 0 0 1px transparent;*/
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  /*box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);*/
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
