body {
  background: linear-gradient(37deg, rgba(153,218,255,1) 0%, rgba(0,128,128,1) 100%);
}

/* OPTIONS */

#options-container {
  height: 100px;
  width: 600px;
  background-color: pink;
  border-radius: 10px;
  margin: auto;
}

.option {
  float: left;
  height: 50px;
  width: 250px;
  margin: 7px 20px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background-color: blue;
  position: relative;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.option > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Oxygen', sans-serif;
  padding: 5px;
}


/* SONGS */

#container {
  height: 100px;
  width: 1000px;
  background-color: pink;
  border-radius: 10px;
  margin: 20px auto;
  background-image: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
}

.song {
  float: left;
  height: 80px;
  width: 80px;
  margin: 5px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background: url(images/question.png) no-repeat;
  background-size: 50px;
  background-position: center;
}


/* ANSWERS */

.answers-button-container {
  height: 150px;
  width: 800px;
  background-color: orange;
  border-radius: 10px;
  margin: auto;
  position: relative;
}

#answers-container {
  height: 150px;
  width: 600px;
  background-color: pink;
  border-radius: 10px;
  margin: auto;
  position: relative;
  float: left;
}

.answer {
  float: left;
  height: 50px;
  width: 250px;
  margin: 7px 20px;
  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background-color: blue;
  position: relative;
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
}

.answer > p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Oxygen', sans-serif;
  padding: 5px;
}

.ready {
  height: 110px;
  width: 110px;
  margin: 20px 30px ;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2);
  background-color: green;
  position: relative;
  float:right;
  padding: 3px;
}

.ready > p {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

/* SCORE DASHBOARD */

.dashboard {
  border: 1px solid green;
  margin: 20px auto;
  height: 150px;
  width: 1000px;
  position: relative;
}

#timer {
  width: 140px;
  margin: 20px 20px;
  font-family: 'Oxygen', sans-serif;
  font-size: 30px;
}

.timer-score {
  border: 1px solid red;
  float: right;
  margin: 20px auto;
  width: 180px;
  text-align: center;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  position: relative;
}

.score {
  border: 1px solid black;
  margin: 20px 20px;
  text-align: center;
}

#instructions {
  border: 1px solid black;
  float: left;
  width: 450px;
  height: 150px;
  margin: 10px 20px;
  position: relative;
  float: left;
}

#instructions > p {
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  padding: 5px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}



/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}


/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
